---
---

@use "base";
@use "layout";
@use "components";

body {
    background-image: url("{{ '/assets/img/background.webp' | relative_url }}");
    background-position: top right;
    background-size: 50%;
    background-repeat: no-repeat;
}